<h2>The dashboard is still under construction</h2>


<p>When completed, it will include the following features</p>

<h4>Product Management</h4>
    Add/Remove Product
    Add/Remove category
    Add/Remove image

<h4>Order Management</h4>
    View all orders (clicking item goes to single order page)
    Filter by status
    Sort by creation date
    
<h4>User Management</h4>
    Allow admin to set other users as admin

@{List<Order> orders = ViewBag.AllOrders;}
@await Html.PartialAsync("_AllOrders",orders)
