<h2>Admin Dashboard</h2>
<div class="sheet">
<button class="collapse-title" type="button" data-bs-toggle="collapse" data-bs-target="#manageProducts" aria-expanded="false"
    aria-controls="manageProducts">
    <h3>Product Management</h3>
</button>
<div class="collapse" id="manageProducts">
    @{
        List<Product> products = ViewBag.AllProducts;
    }
    @await Html.PartialAsync("_AllProducts",products)
    @{
        List<Category> cats = ViewBag.AllCats;
    }
    @await Html.PartialAsync("_AllCategories",cats)
    @{
        List<Image> images = ViewBag.AllImages;
    }
    @await Html.PartialAsync("_AllImages",images)
</div>
</div>
@{
    List<Order> orders = ViewBag.AllOrders;
}
@await Html.PartialAsync("_AllOrders",orders)

@{
    List<BlogPost> posts = ViewBag.AllPosts;
}
@await Html.PartialAsync("_AllPosts",posts)

@{
    List<Event> events = ViewBag.AllEvents;
}

@await Html.PartialAsync("_AllEvents",events)

@await Html.PartialAsync("_ManageUser")


