@model Order

<div class="sheet">
    <form asp-controller="Order" asp-action="Details" method="POST">
        <div class="order-top" style="border:solid black 1px">
            <label asp-for="PickUp"></label>
            <input type="checkbox" asp-for="PickUp">
            <p><i>If your order contains food, please select the pick up option and include your phone number or email
                    address in the comments below. We will contact you shortly to arrange a time for you to pick up your
                    items.</i></p><br><br>
            <label asp-for="OrderComments"></label>
            <textarea class="form-control" asp-for="OrderComments"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>