<div class="sheet">
    <h3>Thank you for your order!</h3>
    <p>You will receive order confirmation shortly. If you requested to pick up your order, we will contact you shortly
        to arrange a time. If you do not hear from us within half an hour, please feel free to contact us at
        (555)555-5555.</p>
</div>