@{
    ViewData["Title"] = "Saint Barnabas House Blog";
}
<main class="blog-main dark-mode || light-mode">
<button class="dk-button" style="float:right" onclick="toggleDark()">Toggle dark mode</button>
<h2 class="display-6">Blog post!</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam consectetur quisquam voluptatibus illo iusto pariatur saepe adipisci recusandae deserunt accusamus asperiores blanditiis, quasi quaerat ipsa, est odit at sequi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum praesentium ut odio commodi soluta maxime eos impedit ducimus? Nesciunt aliquam iure, consectetur asperiores provident quidem dicta fugit ab deserunt ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores sequi voluptate omnis rem quam molestiae praesentium nulla quas, illo neque quis non. Sit iusto, possimus in unde odit qui?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid voluptatem beatae consectetur molestiae, tenetur sit cum, velit placeat maiores architecto reiciendis consequuntur nulla ratione. Saepe distinctio ipsa doloremque voluptatibus!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a sit consequatur provident vero nostrum reiciendis repellendus, laboriosam quasi sunt inventore iste sequi iusto officiis laborum mollitia. Fuga, vel distinctio?
<br><br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam consectetur quisquam voluptatibus illo iusto pariatur saepe adipisci recusandae deserunt accusamus asperiores blanditiis, quasi quaerat ipsa, est odit at sequi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum praesentium ut odio commodi soluta maxime eos impedit ducimus? Nesciunt aliquam iure, consectetur asperiores provident quidem dicta fugit ab deserunt ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores sequi voluptate omnis rem quam molestiae praesentium nulla quas, illo neque quis non. Sit iusto, possimus in unde odit qui?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid voluptatem beatae consectetur molestiae, tenetur sit cum, velit placeat maiores architecto reiciendis consequuntur nulla ratione. Saepe distinctio ipsa doloremque voluptatibus!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a sit consequatur provident vero nostrum reiciendis repellendus, laboriosam quasi sunt inventore iste sequi iusto officiis laborum mollitia. Fuga, vel distinctio?
<br><br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam consectetur quisquam voluptatibus illo iusto pariatur saepe adipisci recusandae deserunt accusamus asperiores blanditiis, quasi quaerat ipsa, est odit at sequi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum praesentium ut odio commodi soluta maxime eos impedit ducimus? Nesciunt aliquam iure, consectetur asperiores provident quidem dicta fugit ab deserunt ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores sequi voluptate omnis rem quam molestiae praesentium nulla quas, illo neque quis non. Sit iusto, possimus in unde odit qui?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid voluptatem beatae consectetur molestiae, tenetur sit cum, velit placeat maiores architecto reiciendis consequuntur nulla ratione. Saepe distinctio ipsa doloremque voluptatibus!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a sit consequatur provident vero nostrum reiciendis repellendus, laboriosam quasi sunt inventore iste sequi iusto officiis laborum mollitia. Fuga, vel distinctio?
<br><br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam consectetur quisquam voluptatibus illo iusto pariatur saepe adipisci recusandae deserunt accusamus asperiores blanditiis, quasi quaerat ipsa, est odit at sequi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum praesentium ut odio commodi soluta maxime eos impedit ducimus? Nesciunt aliquam iure, consectetur asperiores provident quidem dicta fugit ab deserunt ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores sequi voluptate omnis rem quam molestiae praesentium nulla quas, illo neque quis non. Sit iusto, possimus in unde odit qui?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid voluptatem beatae consectetur molestiae, tenetur sit cum, velit placeat maiores architecto reiciendis consequuntur nulla ratione. Saepe distinctio ipsa doloremque voluptatibus!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a sit consequatur provident vero nostrum reiciendis repellendus, laboriosam quasi sunt inventore iste sequi iusto officiis laborum mollitia. Fuga, vel distinctio?
<br><br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam consectetur quisquam voluptatibus illo iusto pariatur saepe adipisci recusandae deserunt accusamus asperiores blanditiis, quasi quaerat ipsa, est odit at sequi.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum praesentium ut odio commodi soluta maxime eos impedit ducimus? Nesciunt aliquam iure, consectetur asperiores provident quidem dicta fugit ab deserunt ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maiores sequi voluptate omnis rem quam molestiae praesentium nulla quas, illo neque quis non. Sit iusto, possimus in unde odit qui?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid voluptatem beatae consectetur molestiae, tenetur sit cum, velit placeat maiores architecto reiciendis consequuntur nulla ratione. Saepe distinctio ipsa doloremque voluptatibus!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis a sit consequatur provident vero nostrum reiciendis repellendus, laboriosam quasi sunt inventore iste sequi iusto officiis laborum mollitia. Fuga, vel distinctio?


</main>

<script>
function toggleDark() {
    let element = document.querySelector("main.blog-main");
    element.classList.toggle("dark-mode");
}
</script>