@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-5">Welcome to Saint Barnabas House</h2>
    <div class="main-nav container d-flex justify-content-evenly mt-3">
        <a class=nav-link asp-controller="Shop" asp-action="Shop" style="text-decoration:none">
            <div class=nav-card>
                <img src="~/images/shop.png" alt="a pile of scones">
                <h4>Visit our shop</h4>
            </div>
        </a>
        <div class="boundary" style="width:1px; border-left:solid #91818A 1px;"></div>
        <a class=nav-link asp-controller="Blog" asp-action="Blog" style="text-decoration:none">
            <div class=nav-card>
                <img src="~/images/blog.png" alt="Saint Barnabas House chapel">
                <h4>Read our blog</h4>
            </div>
        </a>
        <div class="boundary" style="width:1px; border-left:solid #91818A 1px;"></div>

        <a class=nav-link asp-controller="Event" asp-action="Event" style="text-decoration:none">
            <div class=nav-card>
                <img src="~/images/events.png" alt="four cakes">
                <h4>Schedule an event</h4>
            </div>
        </a>
    </div>
    <div class="sheet">
    <h3 class="display-6" style="margin-top:10px">About us</h3>
    @* Styling below (using a series of nested divs and breaks instead of p-tags) is necessary to position picture at
    bottom right of text *@
    <div class="about-wrap">
        <div class="about">
            <div class="float-img"><img src="~/images/founder.png" alt="Our founder" style="width:120px;height:120px">
            </div>
            Saint Barnabas House was formed in 2019 to be a hub for Catholic formation and
            community. For our members it became a place to pray, to grow in faith, and to practice reaching out to
            our
            neighbors. For those outside our house it became a place to meet, to learn, and to stretch their
            understanding of what it means to live out their faith in their whole lives.
            <br><br>
            Here in the house we come together at least twice a day to pray together: once in the morning before we all
            go to our daily work and once at night before bed. Our members are also encouraged to take part in the
            formation classes we offer. Since shared recreation is also important to a strong community, we also enjoy
            frequent movie nights and our favorite TV show: Doctor Who.
            <br><br>
            Those outside the community are invited to many events at our house. We often host classes on topics from
            Scripture to Papal Encyclicals (with a special emphasis on Social teachings.) We also love hosting weekly
            dinners, garden parties, and the occasional bonfire. Sometimes these are events that we organize ourselves,
            and sometimes people use our grounds for their own events.
            <br><br>
            We invite you to visit our shop, which features products we make here in the house. You can also check
            out
            our blog to get a sample of some of the teaching we offer. If you would like to schedule an
            event on our grounds or would like to invite us to come speak at your parish or to your small group, please
            visit our Events page. We are happy to work with you to schedule such events.
            <br><br>
            God bless you as you seek to grow nearer to our Lord!

        </div>
    </div>
    </div>
</div>
