html {
  font-size: 14px;
  /* background-color: lightgray; */
}

body {
  /* background-color: rgb(230,230,230); */
  background-color: #FFE19C;
  /*yellow*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Small screen*/
@media (max-width: 550px) {

  /*front page*/
  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .main-nav .nav-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    width: 300px;
    height: 100px;
    margin-top: 10px;
  }

  .main-nav .nav-card img {
    width: 76px;
    height: 76px;
    padding: 2px;
  }

  .main-nav .nav-card h4 {
    height: fit-content;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .boundary {
    display: none;
  }

  /*shop front*/
  /* .shop-main-l {
    display:none;
  } */


}

/*built-in*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*--FRONT PAGE--*/

/* #askButton {
  background-color: red;
  color: white;
  padding: 4px;
  border: none;
  box-shadow: 6px 6px 6px pink;
  cursor: pointer;
}

#askButton:active {
  box-shadow: 3px 3px 3px pink;
  transform: translate(2px, 2px);
} */

.nav-card {
  max-width: 170px;
  height: 240px;
  margin: 15px 0px;
  background-color: #AD5D4E;
  /*red*/
  border: solid #91818A 2px;
  /*gray*/
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 6px 6px #462914;
}

.nav-card:hover {
  box-shadow: 3px 3px 3px #462914;
  transform: translate(2px, 2px);
}

.nav-card img {
  width: 150px;
  padding: 3px;
  background-color: #91818A;
  border-radius: 3px;
}

.nav-card h4 {
  height: 100%;
  margin-top: 10px;
  color: rgb(235, 236, 237)
}

/*About section*/
.about-wrap {
  margin-top: 20px;
  display: flex;
}

.about {
  text-align: left;
}

.float-img {
  float: right;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 120px) 0 0);
}

/*TODO: add hover animations to shop-cats 
so that the hovered element takes more of the view*/
/* --SHOP-- */
.shop-main {
  position: relative;
  /* animation-name: openShop;
  animation-duration:1s; */
}

.shop-main .overlay {
  position: absolute;
  width: 0%;
  height: 300px;
  background-color: #FFE19C;
  animation-name: openShop;
  animation-duration: .7s;
  z-index: 7;
}

@keyframes openShop {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.shop-categories {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.shop-categories * {
  color: black;
  text-decoration: none;
}

.shop-cats-left {
  width: 50%;
  background: url("../images/founder-wide.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-10px);
  border: none;
  text-align: left;
}

.shop-cats-left h4 {
  padding-top: 75px;
  margin-left: 20px;
  color:white;
}

.shop-cats-mid {
  width: 32%;
  height: 300px;
  background-image: url("../images/crafts-skewed.png");
  background-size: stretch;
  background-repeat: no-repeat;
  transform: skew(-30deg);
  position: absolute;
  left: 27%;
  border-left: solid #FFE19C 3px;
  border-right: solid #FFE19C 3px;
  border-top: none;
  border-bottom: none;
}

@media (max-width:770px) {
  .shop-cats-mid {
    width: 46%
  }
}

.shop-cats-mid h4 {
  transform: skew(30deg);
  text-align: center;
  padding-top: 100px;
  padding-right: 50px;
  color:white
}


.shop-cats-right {
  width: 60%;
  justify-content: right;
  border: none;
  background: url("../images/monkeybread-wide.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}

.shop-cats-right h4 {
  padding-top: 150px;
  margin-right: 20px;
  color:white
}

@media (max-width:770px) {
  .shop-cats-right {
    width: 50%
  }
}

/*search bar*/
.search-form {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.search-wrap {
  width: 60%;
  border: solid #91818A 1px;
  border-radius: 15px;
  background-color: white;
  padding: 3px 10px;
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;
}

.bttn {
  border: solid black 1px;
  border-radius: 3px;
  padding: 0px 5px;
  background-color: rgb(145, 129, 138, .3);
  color: black;
  text-decoration: none;
}

.search-form .bttn {
  margin-left: 10px;
  background-color: rgb(145, 129, 138);
}

.search-form .bttn:disabled {
  background-color: rgb(145, 129, 138, .3);
  border-color: rgb(145, 129, 138, .5);
}

.prodCard {
  width: 200px;
  height: 250px;
  margin: 5px;
  padding: 10px;
  border: solid #91818A 1px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px #462914;
  display: none;
  text-decoration: none;
  color: black;
}

.prodCard:hover {
  box-shadow: 7px 7px 7px #462914;
  transform: translate(2px, -2px);
  color: black;
}

.prodCard-img-holder {
  height: 150px;
  margin: 0px 15px;
  background-color: #91818A;
  border-radius: 3px;
}

.prodCard-img {
  width: 140px;
  height: 140px;
  margin-top: 5px;
  /* padding:5px;
  background-color:#91818A */
}

.prodCard p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show {
  display: block;
}

.Books {
  background-color: #0c7c59
}

.Food {
  background-color: #AD5D4E
}

.Crafts {
  background-color: #91818A
}

.shop-control-bar {
  padding: 10px 5px;
}

.shop-control-bar select {
  margin-left: 5px;
  margin-right: 20px;
}

.items-view {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* The parent div for all forms */
.form-sheet,
.sheet {
  border: solid #91818A 1px;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255, .5)
}

.form-sheet * {

  padding: 5px;
}

.form-sheet h4 {
  text-align: center;
}

.form-sheet label {
  font-weight: bold;
}

.form-sheet .bttn {
  margin-top: 10px;
}

.form-sheet ul {
  list-style: none;
}

.form-nav * {
  margin-right: 10px;
}

#productImageCarousel {
  margin: 0 auto;
  width: 350px;
  border: solid #91818A 3px;
  border-radius: 10px;
  background-color: #91818A
}

.carousel-item img {
  border-radius: 10px;
}

.product-info {
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content
}




/*Blog post*/

/*Credit to Martin Wolf (@martinwolf) for the paper hover effect below
Taken from https://codepen.io/martinwolf/pen/GRaWPy*/
.blog-main {
  position: relative;
  margin: 40px auto;
  width: 90%;
  height: 100%;
  /* background: white; */
  border-radius: 2px;
  padding: 10px;
}

.blog-main::before,
.blog-main::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, .7);
  z-index: -1;
  transition: all .3s ease-in-out;
}

.blog-main::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.blog-main::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.blog-main:hover::before,
.blog-main:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, .4);
}

.blog-main:hover::before {
  left: 5px;
}

.blog-main:hover::after {
  right: 5px;
}

/*end hover effect*/

/*dark mode for blog post*/
.dark-mode {
  background: black;
  color: white;
}

.blog-main.light-mode {
  background: white;
  color: black;
}

.blog-main.dark-mode {
  background: black;
  color: white;
}